.RightSidebar{
    display: flex;
    width: 14%;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.firstBox, .secondBox, .thirdBox, .fourthBox{
    height: 28%;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.404);
    cursor: pointer;
    transition: .7s;
}

.firstBox {
    background-color: #f5f8fe;
    
}

.secondBox {
background-color: #c5cfd9;
height: 10%;
}

.thirdBox {
background-color: #c7ced9;
}

.fourthBox {
background-color: #e5e8f0;
}

.firstBox:hover, .secondBox:hover, .thirdBox:hover , .fourthBox:hover {
transform: scale(1.1)
}